@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700;900&display=swap');

body {
    margin: 0;
    margin-bottom: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Jost", sans-serif;
}

header {
    background-color: #006494;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006494;
    color: white;
}

.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

#gerar {
    background-color: #006465;
    color: white;
    height: 50px;
    width: 150px;
    border: 3px solid #006465;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

#resetar {
    background-color: #006494;
    color: white;
    height: 50px;
    width: 150px;
    border: 3px solid #006494;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    margin: 20px 0 0 20px;
    font-weight: bold;
}

#iniciar {
    background-color: #8d69a2;
    color: white;
    height: 50px;
    width: 150px;
    border: 3px solid #8d69a2;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
}

#numeros-sorteados {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    word-break: normal;
}

.container-numeros {
    width: 30%;
}

.cartela-container {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.cartela {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}

.cartela td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    font-size: 24px;
}

.cartela td:not(:nth-child(6n)) {
    border-right: none;
}

.cartela tr:not(:last-child) td {
    border-bottom: none;
}

.cartela th {
    padding: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background-color: gray;
}

.sorteado {
    background-color: green;
}

.numero-sorteado {
    display: inline-flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    margin: 5px;
    background-color: lightgray;
    border: 1px solid black;
} 

.jogador {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
}